.headerContainer {
	display: flex;
	width: 100vw;
	padding: 20px 60px;
	justify-content: space-between;
	background-color: var(--headerColor);
}

.logoLink {
	font-size: 48px;
	color: var(--boldFontColor);
	font-weight: 700;
}
.logoLink:hover {
	color: var(--boldFontColor);
}

.navList {
	display: flex;
	font-size: 24px;
	align-items: center;
	color: var(--fontColor);
}

.navContainer {
	align-self: center;
	display: flex;
}
.navLinkIcon {
	margin: auto;
	padding-bottom: 20px;
}

.hamburger {
	display: none;
	cursor: pointer;
	margin-bottom: 10px;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 7px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--boldFontColor);
}
.cartTotal {
    position: absolute;
    z-index: 3;
    margin-left: 10px;
    font-size: 18px;
    top: 26px;
    background-color: var(--headerColor);
}
.cartTotal:hover {
	font-weight: bold;
}
@media screen and (max-width: 1510px) {
	.headerContainer {
		padding: 20px 40px;
	}
}

@media screen and (max-width: 1255px) {
	.cartTotal {
		top: 20px;
		right:123px;
	}
	.navContainer {
		padding-top: 5px;
	}
	.hamburger {
		display: block;
		right: 5%;
	}
	.navIcon:first-of-type{
		margin-left: 20px;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(10px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-10px) rotate(-45deg);
	}

	.navList {
		display: none;
	}

	.navbarDropdown {
		display: flex;
		position: fixed;
		z-index: 3;
		right: 5%;
		margin-top: 15px;
		flex-direction: column;
		text-align: center;
	}
	.navbarDropdown li {
		font-size: 16px;
		padding: 15px 20px;
		background-color: var(--headerColor);
		border: solid 1px black;
	}
}
@media screen and (max-width: 984px) { 
	.cartTotal {
		right: 113px;
	}
}


@media screen and (max-width: 620px) {
	.headerContainer {
		padding: 20px 40px;
		}
	.logoLink {
		font-size: 25px;
		padding-top: 8px;
	}
	.cartTotal {
		right: 102px;
		top: 20px;
		font-size: 16px;
	}
	.bar {
		margin: 5px auto;
	}
	.navIcon {
		font-size: 25px !important;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(5px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-10px) rotate(-45deg);
	}
}
@media screen and (max-width:430px){

}