.searchInput {
	background-color: var(--mainBackgroundColor);
}
/* Label on search bar */
#combo-box-demo-label {
	color: var(--fontColor);
}
/* Input field */
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
	color: var(--fontColor) !important;
}
/* Up and down arrows in search bar */
.css-i4bv87-MuiSvgIcon-root{
    fill:var(--fontColor) !important;
}
/* closing svg */
.css-ptiqhd-MuiSvgIcon-root {
    fill:var(--fontColor) !important;
}
