.carousel {
	width: 50vw;
	padding: 40px 60px;
	background-color: var(--mainBackgroundColor);
	/* background-color: var(--altBackgroundColor); */
}
.containerWhiteSpace {
	width: 100%;
	background-color: #f9f9f9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel img {
	width: 45vw;
	height: 80vh;
	padding-top: 30px;
	/* object-fit: cover; */
	/* object-fit: fill; */
	object-fit: contain;
}

/* .react-multiple-carousel__arrow {
}
.react-multi-carousel-item {
} */

.containerWhiteSpace h4{
	position: relative;
	z-index: 3;
	top: -90px;
	left: 16vw;
	font-size: 20px;
	padding: 20px 40px;
	display: inline;
	color: var(--boldFontColor);
	background-color: var(--mainBackgroundColor);
	border-radius: 10px;
}

.categoryGender {
	font-size: 30px;
	color: var(--boldFontColor);
	padding-bottom: 40px;
}
