.emptyCartContainer {
    height: calc(100vh - 108px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_item_image {
    width: 200px;
    margin-top: 20px;
}
.emptyCart {
    font-size: 68px;
}
.cartTableHead th {
    font-size: 26px;
}
.cartTable {
    width: 100%;
    /* margin: 60px; */
}
.cartRemove {
    color:red;
    cursor: pointer;
}
.cartRemove:hover {
    font-weight: bolder;
    color:brown;
}
.cartTitle {
    font-size: 36px;
    text-align: center;
    background-color: var(--mainBackgroundColor);
    padding: 20px;
}

.cartItemsContainer {
    /* width:100vw; */
}