.categoryItemContainer{
	min-height:calc(100vh - 108px);
	background-color: var(--mainBackgroundColor);
	display: flex;
	justify-content: center;
	align-items: center;
}
.itemContainer {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-flow:row wrap;
	background-color: var(--mainBackgroundColor);
    align-content: space-around;
}
.itemCard {
	width: 30vw;
    min-width: 300px;
    max-width:520px;
	min-height: 526px;
	border: solid 2px var(--boldFontColor);
}
.itemBrand{
	font-weight: 900;
	font-size:26px;
	padding-bottom: 10px;
}
.extraInfoTags{
	display: flex;
}
.itemCard h4{
	margin-left: 20px;
}
.imgFluid {
	margin-bottom: 20px;
}

.updateDelete{
	padding: 10px;
}
.updateDelete a {
	color: green;
	margin: 10px;
}
.updateDelete span{
	color: red;
	margin: 10px;
	cursor: pointer;
}
.addToCartBtn{
	color: var(--headerColor) !important;
	font-weight: 900 !important;
}
.addToCartBtn:Hover{
	background-color: var(--fontColor) !important;
}

@media screen and (max-width: 1300px) {
	.dropDownDescription {
		display: none !important;
	}
}