.navLink {
    color: #d5c67a;
    font-weight: 500;
    padding: 0 20px;
    font-size: 25px;
}

.navLink:hover{
    font-weight: 700;
}

@media screen and (max-width: 984px) { 
	.navLink {
		font-size: 16px;
		padding: 15px 20px;
        margin: 2px 0;
        /* background-color: #052f5f; */
        border-radius: 10px;
	}
}
