.searchInput{
    background-color: var(--mainBackgroundColor);
    color: var(--mainFontColor);
    border: none;
    /* padding: 5px; */
}

.searchBox {
    /* display: flex; */
    /* position: absolute; */
}

.searchIcon {
    position: relative;
    z-index: 3;
    left: -30px;
    align-content: center;
    padding: 4px;
    background-color: var(--mainBackgroundColor);
}

.dropDownSearch {
    /* padding: 15px 25px; */
    padding: 15px;
    border: solid .5px;
}

.dropDownMenu{
    position: absolute;
    z-index: 3;
    background-color: var(--headerColor);
    
}