.searchInput{
    background-color: #005377;
    color: #d5c67a;
    border: none;
    padding: 5px;
}

.searchBox {
    display: flex;
}

.searchIcon {
    position: relative;
    z-index: 2;
    left: -30px;
    top:5px;
    align-content: center;
    padding: 4px;
    background-color: #005377;
}
